div.theme_legend {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

div.number_spans {
  display: flex;
  justify-content: center;
  margin-left: 3.2rem;

  span {
    margin-right: 2rem;
  }
}

div.theme_title p {
  font-size: 1.2rem;
}

div.button_switcher_background {
  background-color: hsl(222, 26%, 31%); // trocar pra dinamico
  padding: 0.5rem;
  width: 7rem;
  height: 2rem;
  border-radius: 12rem;

  display: flex;
  justify-content: flex-end;
}

div.button_switcher_background button {
  background-color: none;
  border: none;
  padding: 1rem;
  margin-right: 0.3rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

div.button_switcher_background button:hover,
div.button_switcher_background button:focus {
  background-color: hsl(6, 63%, 50%);
}
